# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Model weights and checkpoints
*.pth
*.pth.tar
*.pt

# PNG files
*.png

# zip files
*.zip

# ignore all config json files except ...
/configs/*.json
!/configs/blkbsdimgcomp_B8_lowrate.json
!/configs/blkbsdimgcomp_B8_highrate.json
!/configs/blkbsdimgcomp_B4_highrate.json
!/configs/blkbsdimgcomp_B16_lowrate.json